
* {
  box-sizing: border-box;
}

body {
  font-family: Consolas, sans-serif;
  background-color: #1c3744;
  color: #b5b5b5a9;
  margin: 0;
}

a { color: inherit; } 

#header {
  background-color: #34657d;
  color: #dededece;
  text-align: center;
  padding: 20px;
}

#navigation_bar {
    background-color: #111111;
    color: #DDDDDD;
    display: flex;
    justify-content: center;

    margin-right: 0px;
}

/* the outer div containing the button and dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* the dropdown button */
.dropdownButton {
  background-color: #111111;
  color: white;
  border: none;
  padding: 10px 10px;
  width: 100px
}

.dropdownButton:hover, .dropdownButton:focus {
  background-color: #333333;
  font-weight: bold;
}

/* the dropdown menu div */
.dropdownContent {
  position: absolute;
  display: none;
  background-color: #cecece;
  color: #34657d;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* links in the dropdown */
.dropdownContent a, .dropdownContent span {
  text-decoration: none;
  padding: 15px 15px;
  display: block;
}

.dropdownContent a:hover {
  background-color: #dedede;
}



#main {
    padding: 25px;
}

#about {
  width: 800px;
  margin-top: 25px;
  padding: 25px;
  padding-top: 5px;
  background-color: #111111;
  border-radius: 8px;
}
#about div {
    background-color: #111111;
    padding-left: 25px;
    padding-right: 50px
}
#about div p {
    padding-left: 25px;
}

#portrait {
  height: 400px;
  width: 400px;
  box-shadow: 0 0 16px 3px ;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}






.show { display: block; }
