{
  "presets": ["@babel/preset-env","@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}

// {
//   "presets": [
//     ["@babel/preset-env", {
//       "targets": {
//         "node": "current",
//         "browsers": "last 2 versions"
//       }
//       , "modules": "commonjs"
//       , "debug": true
//     }],
//     "@babel/preset-react"
//   ],
//   "plugins": [
//     "syntax-object-rest-spread",
//   ]
// }

